DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require&pgbouncer=true"
DATABASE_URL_UNPOOLED="postgresql://user:password@host:port/dbname?sslmode=require"

PORT=5000
NODE_ENV=development

# Clave secreta para autenticación interna de servicios
INTERNAL_API_KEY=flova_secret_internal_key_2026
